#!/usr/bin/env python3

""" Sample configuration file for the bot. """

# Bot token
DISCORD_TOKEN = ""

# Pixiv auth token
PIXIV_TOKEN = ""

# Directory to download images into
TEMPDIR = "/tmp"

# Server/channel whitelist - Discord "snowflake" IDs
# If left empty, these are ignored
SERVERS: list[int] = [
]
CHANNELS: list[int] = [
]
